body {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
    background-color: #f7f4ef;
    color: #4a4a4a;
}

header .header-img {
    width: 100%;
    max-width: 2000px;
    max-height: 300px;
    object-fit: cover;
}

.save-the-date{
 text-align: center;

    padding: 2rem 1rem;
    background-color: #fff0f5;
    border-bottom: 2px solid #e5e5e5;
}

 .map, .iban, .location-details, .iban-details {
    text-align: center;

    padding: 2rem 1rem;
    background-color: #fff0f5;
    border-bottom: 2px solid #e5e5e5;
 display: -webkit-inline-box;
}
.save-the-date, .map2, .iban2, .location-details2, .iban-details2 {
    text-align: center;

    padding: 2rem 1rem;
    background-color: #fff0f5;
    border-bottom: 2px solid #e5e5e5;

}

.save-the-date h2, .photos h2, .location-details h2, .iban-details h2, .iban-details2 h2, .location-details2 h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    color: #a0522d;
}

.save-the-date h1, .location-details h2, .iban-details h2,.iban-details2 h2, .location-details2 h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    margin: 0.5rem 0;
    color: #8b0000;
}

.save-the-date p, .location-details p, .iban-details p,.iban-details2 p, .location-details2 p{
    font-size: 1rem;
    margin: 0.5rem 0;
    line-height: 1.5;
}
/* Media query per dispositivi fino a 768px di larghezza */
@media (max-width: 768px) {
    .location-details2 {
        padding: 20px;
    }
}

/* Media query per dispositivi fino a 480px di larghezza */
@media (max-width: 480px) {
    .location-details2 {
        width: 100%;
        padding: 10px;
    }
}

.save-the-date .date-location {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
    color: #8b0000;
}

.photos {
    text-align: center;
    padding: 2rem 1rem;
    background-color: #ffe4e1;
}

.photos h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #8b0000;
}

.photo-gallery {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.photo-gallery img {
    max-width: 20%;
    height: auto;
    border: 3px solid #e5e5e5;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.photo-gallery img:hover {
    transform: scale(1.05);
}

button {
    background-color: #8b0000;
    color: white;
    border-radius:100px;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5d0000;
}

footer {
    text-align: center;
    background-color: #f7f4ef;
    padding: 2rem 1rem;
    border-top: 2px solid #e5e5e5;
}

footer label {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    color: #8b0000;
}

footer .rsvp {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.iban input {
    width: calc(100% - 130px);
    padding: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.iban button, .iban-details button {
    width: 100px;
    padding: 0.5rem;
position: relative;
  left: 449px;
}

.info-buttons .button-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.location-button h2, .iban-button h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    margin: 0.5rem 0;
    color: #8b0000;
}
.contact-info {
    text-align: center;
    background-color: #f7f4ef;
    padding: 2rem 1rem;
    border-top: 2px solid #e5e5e5;
    position: relative;
    bottom: 0;
    width: 100%;
}

.contact-info .contact-icon {
    width: 40px; /* Dimensione dell'icona */
    height: auto;
    margin-right: 10px;
}

.contact-info p {
    font-size: 1rem;
    font-weight: bold;
    color: #8b0000;
    margin: 0;
    line-height: 1.5;
}

	
.particle {
    position: absolute;
    pointer-events: none;
}

.particle--fire {
    background: hsl(60, 100%, 50%);
    border-radius: 50%;
}

.particle--debris {
    background: #8b0000;
}
